:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #38404e;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 1rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

.delete-all {
  display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/** BOTONES **/
.btn {
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-estado{
  font-family: var(--headingFont);
  padding: 1rem;
  font-size: 1.4;
  font-weight: 400;
  border-bottom: 1px solid black;
  border-radius: .5rem;
  transition: background-color .3s ease;
}
.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

.alargado {
  min-width: max-content;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 25%;
  }
  .seccion-principal {
      flex: 0 0 75%;
      
  }

}

/* BARRA LATERAL */
aside  {
  padding: 3rem;
}

.formulario-listado-solicitudes {
  margin-top: 4rem;
}
.formulario-listado-solicitudes .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-listado-solicitudes .input-text::placeholder{
  color: var(--gris2);
}


.listado-cuentas-title {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: .5rem 4rem;
  border-radius: .5rem;
}

.solicitudes {
  margin-top: 2rem;
}

.app-header {
  display: flex;
  min-height: 15%;
  height: 15vh;
  justify-content: space-between;
  background-color: var(--gris2);
  padding: 4rem;
  height:auto;
}
.nombre-usuario {
  color: var(--blanco);
  font-size: 2.2rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear solicitudes **/
.title-black-background{
  color: var(--blanco);
}

.formulario {
  background-color: var(--gris3);
  padding: 8rem;
  height: 85vh;
}

.formulario form {
margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-textarea {
  display: flex;
  height: 35vh;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
}

.listado-cuentas {
  max-width: auto;
  padding: 4rem;
  margin: 0 auto;
}
.ajustado {
  width: 75vw;
}

.elemento {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: .5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem;
  height: auto;
  max-width: auto;

}


.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}
.elemento .acciones .btn:first-of-type {
  margin: 1rem 1rem 1rem 1rem;
  
}
.elemento p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem;
}
.elemento .btn {
  padding: .8rem;
  font-size:1.4rem;
  border-radius: 0;
  margin: 0;
  width: 100%;
}


.estado {
  margin-right: 1rem;
}
.estado button, 
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.completo,
.correcto {
  background-color: rgba(154, 252, 154, .3);
  color: var(--gris3);
}
.incompleto{
  background-color: rgba(255, 178, 178, .4);
  color: var(--gris3);
}
.archivada{
  background-color: yellow; 
  color: var(--gris3);
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}

.top-header {
  
  height:auto;
  min-height: 10vh;
  padding-top: 3rem;
}
 
.form-usuario {
    background-color: var(--gris3);
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
  background-color: var(--gris3);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-form {
    padding: 7rem 3rem;
    max-width: 700px;
    width: 100%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 145px ;
  padding: 0.5rem;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="text"] {
  border: 1px solid var(--gris2);
  padding: 1rem;
  min-width: 500px;

}
.campo-form select {
  border: 1px solid var(--gris2);
  padding: 1rem;
  display: flex;
  min-width: 500px;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

.alerta-abajo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
  .alerta-abajo {
    width: auto;
    top: 150px;
    right: 10px;
    left: auto;
}
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}

.alerta-error {
  background-color: red;
  color: var(--blanco);
}

.alerta-archivada{
  background-color: var(--gris2);
  color: var(--blanco);
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr { 
  background: var(--blanco)
}
th { 
  background: var(--gris2); 
  color: white; 
  font-weight: bold; 
  font-size: 2rem;
  
}
td, th { 
  padding: 10px; 
  border: 1px solid #ccc; 
  font-size: 1.6rem;
  text-align: center;
}

.limite {
  min-width: 9vw;
}